@use './vars' as *;
@use '@fontsource/comfortaa' as *;
// @use '@fontsource/lato' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $bg-blue;
  color: $text-bgdark-title;
  // font-family: 'Comfortaa', sans-serif;
  font-family: 'Lato', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.7rem;
  font-size: 1.2rem;
  color: $text-bgdark-subtitle;
}