@use './vars' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: $bg-blue;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}