/* ----------- contenitori ------------*/

@mixin container {
  width: 80%;
  margin: 0 auto;
}

@mixin container-left {
  width: 90%;
  margin: 0 auto 0 0;
}

@mixin container-rigth {
  width: 90%;
  margin: 0 0 0 auto;
}

/* ----------- flex ------------*/

@mixin flex-row {
  display: flex;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-center-j {
  display: flex;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

.uppercase {
  text-transform: uppercase;
}