// background
$bg-white: #fff;
$bg-blue: #1F1E38;
$bg-red: #F81D39;
$bg-green: #39ffbf;
$bg-icon-footer: #527ceb;

$bg-arrows: #333333;


// text
$text-bglight-important: #F81D39;
$text-bglight-title: #000;
$text-bglight-subtitle: #818a91;
$text-bglight-subtitle2: #aaaaaa;
$text-bgdark-title: #fff;
$text-bgdark-subtitle: #818a91;

// header
$height-header: 80px