// background
$bg-white: #fff;
$bg-blue: #1f1e38;
$bg-red: #F81D39;
$bg-green: #39ffbf;
$bg-icon-footer: #527ceb;

$bg-arrows: #36354c;


// text
$text-bglight-important: #F81D39;
$text-bglight-title: #000;
$text-bglight-subtitle: #8f969b;
$text-bglight-subtitle2: #d1d1d1;
$text-bgdark-title: #fff;
$text-bgdark-subtitle: #818a91;

// header
$height-header: 80px